
@{
    Layout = "~/Views/Shared/_Content.cshtml";
}
<script src="~/Content/FW/LayuiZtree.js"></script>
<input type="hidden" id="SHOW_SELF" value="@ViewBag.SHOW_SELF" />
<input type="hidden" id="ScriptTypeSelect" value="@ViewBag.ScriptTypeSelect" />
<blockquote class="layui-elem-quote">
    <div class="layui-inline layui-form">
        任务名称
        <div class="layui-input-inline">
            <input type="text" id="NAME" name="NAME" value="" placeholder="" class="layui-input search_input">
        </div>
        所属类型
        <div class="layui-input-inline">
            <input type="text" name="TYPE_ID" id="TYPE_ID">
        </div>
        数据库
        <div class="layui-input-inline">
            <select id="DB_ID" name="DB_ID" lay-filter="DB_ID">
                <option value=""></option>
                @foreach (var item in ViewBag.DIC_DBS)
                {
                    <option value="@item.Key">@item.Value</option>
                }
            </select>

        </div>

        <button class="layui-btn search_btn" onclick="Query();"><i class="layui-icon layui-icon-search"></i>查询</button>
        <button class="layui-btn search_btn" onclick="ExportFile();"><i class="layui-icon layui-icon-exl"></i>导出</button>
        @if (ViewBag.SHOW_SELF == 0)
        {
        <button class="layui-btn search_btn" onclick="Backups();"><i class="layui-icon layui-icon-iconfont20"></i>备份</button>
        }
        <button class="layui-btn search_btn" onclick="Add();"><i class="layui-icon layui-icon-weibiaoti2010104"></i>新增</button>
    </div>
</blockquote>

<!-- 枚举值-->
<script type="text/javascript">
    //运行状态
    var Status = new Array();
    @foreach (var item in ViewBag.Status)
    {
        <text>Status['@item.Key'] = "@item.Value";</text>
    }
</script>

<!--表格显示-->
<table class="layui-table" lay-size="sm" lay-data="{height: 'full-73',id:'datatable', url:'../AfScriptNode/GetList?self=@ViewBag.SHOW_SELF', page:{limit:20, layout:['refresh', 'prev', 'page', 'next', 'skip', 'limit', 'count']}, skin: 'row', limit:20,even: true,initSort: {field:'ID', type:'DESC'}}" lay-filter="tablefilter">
    <thead>
        <tr>
            <th lay-data="{ field: 'ID', width: 40, sort: true, fixed: 'left' }">ID</th>
            <th lay-data="{ field: 'NAME',width: 180, sort: true, fixed: 'left' }">任务名称</th>
            <th lay-data="{ field: 'TYPENAME', width: 150, sort: true }">类型</th>
            <th lay-data="{ field: 'DBNAME', minWidth: 100, sort: true}">数据库名称</th>
            <th lay-data="{ field: 'CREATE_NAME', width: 90, sort: true, align: 'center' }">创建者</th>
            <th lay-data="{ field: 'RUN_STATUS', width: 80, sort: true, align: 'center', templet: '#tmpStatus'}">运行状态</th>
            <th lay-data="{ field: 'LAST_TASK_IS', width: 80, sort: true, align: 'center' ,templet: '#tmpIsOk'}">是否成功</th>
            <th lay-data="{ field: 'LAST_TASK_ST', width: 175, sort: true, align: 'center',templet: '#tmpStartData'}">开始时间</th>
            <th lay-data="{ field: 'LAST_TASK_FT', width: 175, sort: true, align: 'center',templet: '#tmpFinishData'}">结束时间</th>
            <th lay-data="{ field: 'CREATE_TIME', width: 175, sort: true, align: 'center' }">创建时间</th>
            <th lay-data="{ field: 'LAST_TASK_ID', width: 80, align: 'center',sort: true}">任务执行ID</th>
            <th lay-data="{ field: 'UPDATE_TIME', width: 175, sort: true, align: 'center' }">修改时间</th>
            <th lay-data="{ field: 'UPDATE_NAME', width: 90, sort: true, align: 'center' }">修改者</th>
            <th lay-data="{ width: 180, align: 'left', toolbar: '#operation', fixed: 'right' }">操作</th>
        </tr>
    </thead>
</table>

<script type="text/html" id="tmpStatus">
    <span>
        {{ d.LAST_TASK_ID==0 ? "-" : Status[d.RUN_STATUS] }}
    </span>
</script>
<script type="text/html" id="tmpIsOk">
    <span>
        {{# if (d.LAST_TASK_ID > 0 && Status[d.RUN_STATUS] == '结束') { }}
        {{# if (d.LAST_TASK_IS == 1) { }}
        <span class="is_ok">是</span>
        {{# } else { }}
        <span class="is_error">否</span>
        {{# } }}
        {{# } else { }}
        <span>-</span>
        {{# } }}
    </span>
</script>
<!--模型化时间-->
<script type="text/html" id="tmpStartData">
    <span>
        {{ d.LAST_TASK_ID==0||d.LAST_TASK_ST=='0001-01-01 00:00:00'|| d.LAST_TASK_ST==null ? '-':d.LAST_TASK_ST }}
    </span>
</script>
<script type="text/html" id="tmpFinishData">
    <span>
        {{ d.LAST_TASK_ID==0 || d.LAST_TASK_FT=='0001-01-01 00:00:00'||d.LAST_TASK_FT==null ? '-':d.LAST_TASK_FT }}
    </span>
</script>
<!-- 操作-->
<script type="text/html" id="operation">
    {{ (Status[d.RUN_STATUS]=="结束" || d.LAST_TASK_ID==0 ?'<span class="layui-badge layui-bg-blue" lay-event="start">启动</span>':'<span class="layui-badge layui-bg-cyan" lay-event="stop">停止</span>') }}
    <!--<span class="layui-badge layui-bg-gray" lay-event="look">详细</span>-->
    <span class="layui-badge layui-bg-black" lay-event="log">日志</span>
    <span class="layui-badge layui-bg-green" lay-event="edit">编辑</span>
    <span class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</span>
</script>

<!-- 表格事件-->
<script src="~/Views/AfScriptNode/JS/Index.js?v=20181214"></script>