@{
    Layout = "~/Views/Shared/_Content.cshtml";
}
<script src="~/Content/plugins/jquery-3.2.1.min.js"></script>
<link href="~/Views/Home/CSS/default.css" rel="stylesheet" />
<style>
	.layui-card-body {
    position: relative;
    padding: 10px 15px;
    height: 250px;
    line-height: 24px;
    overflow: auto; /*  新加的 */
}
</style>
<div class="larry-container animated fadeIn larry-bg-gray layui-form" style="margin-left: 3px;">
    <div class="layui-row larry-shortcut layui-col-space15 topDiv" id="shortcut" style="padding-top: 20px;" >
        <!--<div class="layui-col-xs6 layui-col-sm6 layui-col-md4 layui-col-lg2 larry-col">-->
        <button class="layui-btn layui-btn-normal topBut"><i class="layui-icon layui-icon-friends"></i>口径任务</button>
        <button class="layui-btn layui-btn-normal topBut"><i class="layui-icon layui-icon-shouye4"></i>客户经理</button>
        <button class="layui-btn layui-btn-normal topBut"><i class="layui-icon layui-icon-Calculator"></i>抢盘计算</button>

        <button class="layui-btn layui-btn-warm topBut"><i class="layui-icon layui-icon-good"></i>经理积分</button>
        <button class="layui-btn layui-btn-warm topBut"><i class="layui-icon layui-icon-iconfontstop"></i>经理薪酬</button>
        <button class="layui-btn layui-btn-warm topBut"><i class="layui-icon layui-icon-dollar"></i>集团收入</button>

        <button class="layui-btn layui-btn-danger topBut"><i class="layui-icon layui-icon-caidanshejishi"></i>用户管理</button>
        <button class="layui-btn layui-btn-danger topBut" ><i class="layui-icon layui-icon-laba2"></i>通知公告</button>
        <button class="layui-btn layui-btn-danger topBut" ><i class="layui-icon layui-icon-903caidan_bangzhu"></i>帮助说明</button>

    </div>
    <div class="layui-row layui-col-space15" style="margin-top: 10px">
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">系统公告</div>
                <div class="layui-card-body">
                    <table class="layui-table" lay-skin="nob">
                        <colgroup>
                            <col width="200">
                            <col width="200">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>公告标题</th>
                            <th>摘要</th>
                            <th>发布时间</th>
                           
                        </tr> 
                        </thead>
                        <tbody>
                        
                        @foreach(var it in ViewBag.BF_BULLETINS as IEnumerable<CS.BLL.FW.BF_BULLETIN.Entity>)
                        {
                            <tr>
                                <td title="@it.TITLE"  onclick="openNews(@it.ID)">@(it.TITLE.Length>10?it.TITLE.Substring(0,10)+"...":it.TITLE)</td>
                                <td title="@it.SUMMARY">@(it.SUMMARY.Length>10?it.TITLE.Substring(0,10)+"...":it.SUMMARY)</td>
                                <td>@it.CREATE_TIME</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">每日数量分析统计</div>
                <div class="layui-card-body">
                    <div id="sumTotal" style="height:250px;"></div>
                </div>
            </div>
        </div>
       
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">每日费用分析统计</div>
                <div class="layui-card-body" style="min-height: 400px;">
                    <div id="sumMoney" style="height:400px;  "></div>
                </div>
            </div>
        </div>
    </div>
</div> 
</div>
<!-- 引入 ECharts 文件 -->
<script type="text/javascript" src="~/Echart/vendors/echarts/echarts3.js?_v_=15105857922"></script>
<script type="text/javascript" src="~/Views/Home/JS/Default.js?2019"></script>
<script>
	function openNews(id){
	var url="../afbulletin/show?id="+id;
	 layer.open({
                type: 2,
                shade: true,
                offset: ['5%', '10%'],
                shade: [0.1, '#fff'],
                area: ['1100px', '550px'],
                title: '公告详情', //不显示标题
                content: url //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响

            });
	}
	

</script>
