@using System.Activities.Expressions
@using System.Web.Mvc.Html
@using CS.Base.Config
@{
    Layout = "~/Views/Shared/_Content.cshtml";
}
@model CS.BLL.FW.BF_FLOW_NODE_CASE_RECORD.Entity

<form id="form" class="layui-form" action="" method="post">
    <input type="hidden" id="FLOW_ID" name="FLOW_ID" value="@Model.FLOW_ID" /> <!--流程ID-->
    <input type="hidden" id="FLOW_CASE_ID" name="FLOW_CASE_ID" value="@Model.FLOW_CASE_ID" /><!--流程实例ID-->
    <input type="hidden" id="FLOW_NODE_ID" name="FLOW_NODE_ID" value="@Model.FLOW_NODE_ID" /> <!--流程节点ID-->
    <input type="hidden" id="FLOW_NODE_CASE_ID" name="FLOW_NODE_CASE_ID" value="@Model.FLOW_NODE_CASE_ID" /><!--流程节点实例ID-->

    <div class="form-top-content">
        <div class="layui-tab-content">
            <!--以下是审批信息-->
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                <legend>审批操作</legend>
            </fieldset>
            <div class="layui-form-item">
                <label class="layui-form-label">审批状态</label>
                <div class="layui-input-block">
                    <select id="AUDIT_STATUS" name="AUDIT_STATUS" lay-filter="selectAudit">
                        @foreach (var item in ViewBag.AuditStatusList)
                        {
                            <option value="@item.value">@item.key</option>
                        }
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">审批说明</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入审批说明" class="layui-textarea" name="AUDIT_CONTENT" id="AUDIT_CONTENT" lay-verify="required">@Model.AUDIT_CONTENT</textarea>
                </div>
            </div>
            <!--审批过程-->
            <div class="layui-form-item">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>审批过程</legend>
                </fieldset>
                <ul class="layui-timeline">
                    <div class="layui-collapse" lay-filter="test">
                        @{
                            int i = 1;
						    foreach (var item in ViewBag.dealNodeCaseAllList as IEnumerable<CS.WebUI.Models.Flow.FlowCaseNewModel>)
						     {
						         <div class="layui-colla-item">
						             <h2 class="layui-colla-title">@item.NAME   第 @i 次发起   时间:@item.CREATE_TIME</h2>
						             <div class="layui-colla-content">
						                 <ul class="layui-timeline">
						                     @foreach (var node in @item.FlowNodeModes as IEnumerable<CS.WebUI.Models.Flow.FlowNodeModel>)
						                     {
						                         <li class="layui-timeline-item">
						                             <i class="layui-icon layui-timeline-axis"></i>
						                             <div class="layui-timeline-content layui-text">
														 @if (@node.IS_MAIN == 1)
														 {
														     <h3 class="layui-timeline-title">@node.NAME  (开始节点)</h3>
														 }
														 else
														 {
														     <h3 class="layui-timeline-title">@node.NAME  (@(node.DEAL_WAY==0?"单人审核":"全员审核"))</h3>
														 }
						                                 @if (@node.FlowNodes != null && @node.FlowNodes.Count > 0)
						                                 {
						                                     <p>
						                                         @foreach (var nodeCase in @node.FlowNodes as IEnumerable<CS.WebUI.Models.Flow.FlowNodeCaseModel>)
						                                         {
						                                             <p>
																	     
						                                                 @if (@node.IS_MAIN == 1)
						                                                 {
						                                                     <p><b>处理人</b>: @nodeCase.UserName        <b>状态</b>: 已提交 </p>
						                                                 }
						                                               else if (@nodeCase.FlowNodeCaseRecords != null && @nodeCase.FlowNodeCaseRecords.Count > 0)
																	 {
																		 <p>
																	     @foreach (var nodeRecord in @nodeCase.FlowNodeCaseRecords as IEnumerable<CS.BLL.FW.BF_FLOW_NODE_CASE_RECORD.Entity>)
																	      {
																	          <p><b>处理人</b>: @nodeCase.UserName        <b>状态</b>: @(nodeRecord.AUDIT_STATUS==1?"审核通过":"审核不通过")        <b>处理时间</b>:@nodeRecord.AUDIT_TIME        <b>备注</b>: @nodeRecord.AUDIT_CONTENT</p>
																	      }
																		 </p>
																	 }
																	 else
																	 {
																	     <p><b>处理人</b>: @nodeCase.UserName        <b>状态</b>: 未处理 </p>
																	 }
						                                             </p>

						                                         }
						                                     </p>

						                                 }

						                             </div>
						                         </li>
						                     }
						                 </ul>
						             </div>
						         </div>
						         i++;
						     }
						}
                    </div>
                </ul>

            </div>
            <!--嵌入表单展示页面-->
            <div class="layui-form-item">
                <iframe scrolling="no" id="MainFormPage" frameborder="0" src="@ViewBag.MainFormPage"
                        style="min-height:300px;width:100%;"></iframe>
            </div>
        </div>
    </div>
    <div class="form-bottom-submit">
        <div class="layui-inline">
            <button type="button" class="layui-btn" lay-submit lay-filter="submit">确定</button>
            <button type="reset" class="layui-btn layui-btn-primary" onclick="CloseForm();">关闭</button>
        </div>
    </div>
</form>

<script src="~/Views/AfFlowCase/JS/Deal.js?v=20190416"></script>
<script type="text/javascript" src="~/Content/FW/aes.js"></script>

<script>
  // 计算页面的实际高度，iframe自适应会用到
  function calcPageHeight(doc) {
      var cHeight = Math.max(doc.body.clientHeight, doc.documentElement.clientHeight)
      var sHeight = Math.max(doc.body.scrollHeight, doc.documentElement.scrollHeight)
      var height  = Math.max(cHeight, sHeight)
      return height
  }
  //根据ID获取iframe对象
  var ifr = document.getElementById('MainFormPage')
  ifr.onload = function() {
  	  //解决打开高度太高的页面后再打开高度较小页面滚动条不收缩
  	  ifr.style.height='0px';
      var iDoc = ifr.contentDocument || ifr.document
      var height = calcPageHeight(iDoc)
      if(height < 850){
      	height = 850;
      }
      ifr.style.height = height + 'px'
  }
</script>