@using CS.Base.DBHelper;
@model  CS.WebUI.Models.FileMsg
<input type="hidden" id="pathName" value="@Model.PathName" /> <!--文件所在目录-->
@if (!string.IsNullOrWhiteSpace(Model.FILES) && Model.FILES.Length > 0)
{
<table class="layui-table" lay-size="sm">
    <thead>
        <tr>
            <th>文件名</th>
            <th>上传者</th>
            <th>上传日期</th>
            <th>文件大小(BK)</th>
            <th>文件下载</th>
        </tr>
    </thead>
    <tbody>
        @if (!string.IsNullOrWhiteSpace(Model.FILES) && Model.FILES.Length > 0)
        {
            using (BDBHelper db = new BDBHelper())
            {
                var dt = db.ExecuteDataTable(string.Format("SELECT A.*,B.FULL_NAME CREATE_USER FROM SR_FILES  A LEFT JOIN BF_USER B ON(A.CREATE_UID=B.ID) WHERE A.ID IN ({0})", Model.FILES.Substring(1)));
                if (dt != null && dt.Rows.Count > 0)
                {
                    for (int i = 0; i < dt.Rows.Count; i++)
                    {
                        var row = dt.Rows[i];
                        var filePath = row["PATH"] + "\\" + row["REAL_NAME"];
                        <tr>
                            <td>@row["DISPLAY_NAME"]</td>
                            <td>@row["CREATE_USER"]</td>
                            <td>@row["CREATE_TIME"]</td>
                            <td>@(Math.Round((Double)row["FILE_SIZE"] / 1024, 1))</td>
                            <td>
                                <a href="#" onclick="down('@row["ID"]');">下载</a>
                            </td>
                        </tr>
                    }
                }
            }
        }
    </tbody>
</table>
}

<script type="text/javascript">
    //下载文件
    function down(fileId) {
        url = "../ShowFile/Download?fileId=" + fileId;
        //window.location = url;
        window.open(url, "_blank");
    }
</script>

